<head>
  <h1 class="home-page">About</h1>
</head>
<body  style="background-color: #a43931; color: white">
 This is the sample application from the 
 <a style="color: white; font-style: italic"href ="https://www.michaelhartl.com/">
   fourth edition of the rails tutorial book by Michael Hartl
 </a>
</body>