<% provide(:title, "About" %>
<!DOCTYPE html>
  <html>
  <head>
    <title><%= yield(:title) %></title>
    <h1 class="home-page">About</h1>
  </head>
  <p>
    <a href="https://www.lipsum.com/"><b class="about-page">Lorem Ipsum</b></a>
    <img src="http://www.imagechef.com/t/39qt/Book-Cover">
  </p>
</html>