<% provide(:title, "Help Page") %>
<!DOCTYPE html>
<head>
  <title><%= yield(:title)></title>
</head>
<html>
  <h1>StaticPages#help</h1>
  <p>Find me in app/views/static_pages/help.html.erb</p>
</html>