<h1>Sample App</h1>
<p>Hi, <%=@user.name%></p>
<p>
  Follow the instructions below to reset your password
</p>
<p><%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email)%></p>
<p>This link will expire in two(2) hours</p>
<p><b><i>
  Please ignore this if you did not authorize a password reset action on your 
  account
</i></b></p>