<% provide(:title, 'Edit Profile') %>
<% provide(:button_text, 'Update profile') %>
<h1>Edit My Profile</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well sign-up">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>